<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/styles.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/pygment_trac.css" media="screen" />

    <script src="https://use.fontawesome.com/0896bc2c3f.js"></script>

    <title> {{ page.title }} | {{ site.name }} </title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div id="content-wrapper" class="container">
      <div class="row">
        <section id="main-content" class="col-xs-12 col-md-9">

          {{ content }}

        </section>

        <aside id="sidebar" class="col-6 col-md-3">
          <div class="card profile">
            <img class="card-img-top" src="{{ site.baseurl }}/images/jharrisonau-headshot-673.jpg" alt="James Harrison">
            <div class="card-block">
              <h4 class="card-title">James Harrison</h4>
              <p class="card-text">
                <small class="text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
              </p>
              <a href="#" class="card-link"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a><br />
              <a href="#" class="card-link"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
            </div>
          </div>
        </aside>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
